.Puzzle {
    display: flex;
    justify-content: flex-end;
    transition: top 0.62s, left 0.62s;
    font-size: 1.1618rem;
    color: #fff;
    padding: 0.38rem;
    box-sizing: border-box;
}

.Puzzle--empty {
    transition: none;
}